
xchat-ios.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
xchat-ios/Assets.xcassets/AppIcon.appiconset/Contents.json
xchat-ios/.DS_Store
xchat-ios.xcworkspace/xcuserdata/admin.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
