<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xchat-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84729D1A1F4B30F600B6D20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84729D331F4B30F800B6D20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84729D3E1F4B30F800B6D20B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
